#footer{
    width: 100vw;
    @include flexCenter-row();
    
    #footer1{
        width: 30vw;
        height: 50vh;
        background: rgb(255, 255, 255);
        @include flexCenter-col();

        span{
            display: flex;
            flex-direction: column;

            img{
                width: 3em;
                height: 3em;
            }
            
            p{
                color: rgba(23, 43, 68, 0.7);
                font-family: 'Josefin Sans', Raleway;
                font-size: 1em;
                line-height: 1.2em;
                margin-top: 3em;
            }
        }
    }
    #footer2{
        width: 20vw;
        height: 50vh;
        background: yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span{
            display: flex;
            flex-direction: row;
            margin-left: 1.5vw;

            img{
                width: 1em;
                height: 1em;
            }
            img:hover{
                transform: scale(1.1);
            }
        }

        div{
            margin-top: 3em;
            margin-left: 1.5em;
            p{
                text-decoration: underline;
                color: rgba(23, 43, 68, 0.7);
                font-family: 'Josefin Sans', Raleway;
                font-size: 1em;
                margin-top: .5em;
                
            }
        }
    }
    #footer3{
        width: 50vw;
        height: 50vh;
        background: rgb(77, 76, 76);
        display: flex;
        flex-direction: column;
        justify-content: center;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5em;
            

            #lastFooterTextB{
                color: white;
                font-weight: 900;
                font-size: 1.8em;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                line-height: 1.1em;
                width: 25vw;
            }
            span{
                display: flex;
                flex-direction: row;
                margin-top: 3em;
                display: none;

                a{
                    p{
                        color: white;
                        text-decoration: none;
                        padding: .7em 1.5em .7em 1.5em;
                        border: 1px solid white;
                        font-size: 1em;
                        font-family: 'Josefin Sans', Raleway;
                        border-radius: 5px;
                    }
                    p:hover{
                        color: yellow;
                        border: 1px solid yellow;
                    }
                }
            }
        }
    }
}