$theme-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

#navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: $theme-shadow;
    z-index: 4;
    height: 7vh;
}

@mixin logo-text() {
    font-family: Raleway, 'Open Sans', Arial; 
    font-weight: 900;
    font-size: 18px;
    line-height: normal;
    position: relative;
    bottom: .15em;
}

#logo-text{
    @include logo-text();
}

@mixin logos-icon() {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: .5em .5em 0 4em;
}
#logo-icon{
    @include logos-icon();
}