@import "navbar";

$box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$bRad-c1: 50px 50px 50px 0;
$bRad-c2: 0 50px 50px 50px;
$bRad-c3: 50px 50px 0 50px;
$bRad-c4: 50px 0 50px 50px;

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}



#fade-off-cover{
    width: 100vw;
    height: 12vh;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(255,255,255,.95) 20%, rgba(255,255,255, 0.7) 40%, rgba(255,255,255, 0.4) 60%, rgba(255,255,255, 0.2) 80%, rgba(255,255,255,0) 90%);
    position: fixed;
    left: 0;
    top: 3vw;
    z-index: 2;
}

.form{
    margin-top: 15vh;
    width: 65vw;
    height: auto;
}
form{
    display: flex;
    flex-direction: column;
}

.question-box-1{
    width: fit-content;
    height: auto;
    padding: 1.5em 2em 1.5em 2em;
    margin-top: 1em;
    background-color: white;
    box-shadow: $box-shadow;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    font-family: 'Montserrat', Arial, 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.6em;
}

.question-box-2{
    width: fit-content;
    height: auto;
    padding: .2em 2em .2em 2em;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: $box-shadow;
    float:right;
    margin-bottom: 1em;
    align-self: flex-end;
    overflow: hidden;
    font-family: 'Montserrat', Arial, 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: lighter;
}
.pClass1{
    border-radius: $bRad-c1;
}
.pClass2{
    border-radius: $bRad-c2;
}
.spanClass1{
    border-radius: $bRad-c3;
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 200;
        color: white;
    }
}
.spanClass2{
    border-radius: $bRad-c4;
}

@mixin input-format(){
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(219, 219, 219);
    color: rgba(255,255,255,.6);
    height: 1.5em;
    width: 25vw;
    background-color: rgba(255,255,255,0);
    margin-top: -.5em;
    margin-bottom: .5em;
    margin-right: 1em;
    padding-left: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}
@mixin input-placeH-format() {
    color: rgba(255, 255, 255, 0.6);
    font-size: .7em;
}
input[type="text"], input[type="tel"], input[type="email"]{
    @include input-format();
}
input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder{
    @include input-placeH-format();
}


.question-box-2{
    select{
        @include input-format();
        width: 20vw;
        option{
            color: rgb(100, 99, 99);
            font-size: .7em;
            width: 25vw;
        }
    }
}

 #select2, #select3, #select4, #select5, #select6, #select7, #select101{
    display: none;
    align-self: flex-end;
}

.cp{
    color: white;
}

#submit{
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: none;
}

input[type="subit"]{
    padding: .4em .7em .4em .7em;
    font-family: 'Montserrat', Arial, 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgb(12, 194, 139);;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 6em;
}
input[type="subit"]:hover{
    background-color: rgb(189, 9, 99);
}
.mail{
    border-radius: 50px;
}

.q1{
    animation-delay: 1s;
}
.q2{
    animation-delay: 2s;
}
.q3{
    animation-delay: 4s;
}
.q4{
    animation-delay: 5s;
}
.q5{
    animation-delay: 6s;
}
#select{
    animation-delay: 7s;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q101{
    display: none;
    transition-duration: 2s;
}
#aa1, #aa2, #aa3, #aa4, #aa5, #aa6, #aa7, #aa9 {
    display: none;
}
#aa7{
    input{
        margin-top: .5em;
    }
}
