#navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
  height: 7vh;
}

#logo-text {
  font-family: Raleway, "Open Sans", Arial;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  position: relative;
  bottom: 0.15em;
}

#logo-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin: 0.5em 0.5em 0 4em;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

#fade-off-cover {
  width: 100vw;
  height: 12vh;
  background: linear-gradient(to bottom, white 10%, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 90%);
  position: fixed;
  left: 0;
  top: 3vw;
  z-index: 2;
}

.form {
  margin-top: 15vh;
  width: 65vw;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.question-box-1 {
  width: fit-content;
  height: auto;
  padding: 1.5em 2em 1.5em 2em;
  margin-top: 1em;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  font-family: "Montserrat", Arial, "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1.6em;
}

.question-box-2 {
  width: fit-content;
  height: auto;
  padding: 0.2em 2em 0.2em 2em;
  margin-top: 2em;
  background-color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  float: right;
  margin-bottom: 1em;
  align-self: flex-end;
  overflow: hidden;
  font-family: "Montserrat", Arial, "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: lighter;
}

.pClass1 {
  border-radius: 50px 50px 50px 0;
}

.pClass2 {
  border-radius: 0 50px 50px 50px;
}

.spanClass1 {
  border-radius: 50px 50px 0 50px;
}
.spanClass1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
}

.spanClass2 {
  border-radius: 50px 0 50px 50px;
}

input[type=text], input[type=tel], input[type=email] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #dbdbdb;
  color: rgba(255, 255, 255, 0.6);
  height: 1.5em;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding-left: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

input[type=text]::placeholder, input[type=tel]::placeholder, input[type=email]::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7em;
}

.question-box-2 select {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #dbdbdb;
  color: rgba(255, 255, 255, 0.6);
  height: 1.5em;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding-left: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  width: 20vw;
}
.question-box-2 select option {
  color: #646363;
  font-size: 0.7em;
  width: 25vw;
}

#select2, #select3, #select4, #select5, #select6, #select7, #select101 {
  display: none;
  align-self: flex-end;
}

.cp {
  color: white;
}

#submit {
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: none;
}

input[type=subit] {
  padding: 0.4em 0.7em 0.4em 0.7em;
  font-family: "Montserrat", Arial, "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  background-color: #0cc28b;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  width: 6em;
}

input[type=subit]:hover {
  background-color: #bd0963;
}

.mail {
  border-radius: 50px;
}

.q1 {
  animation-delay: 1s;
}

.q2 {
  animation-delay: 2s;
}

.q3 {
  animation-delay: 4s;
}

.q4 {
  animation-delay: 5s;
}

.q5 {
  animation-delay: 6s;
}

#select {
  animation-delay: 7s;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q101 {
  display: none;
  transition-duration: 2s;
}

#aa1, #aa2, #aa3, #aa4, #aa5, #aa6, #aa7, #aa9 {
  display: none;
}

#aa7 input {
  margin-top: 0.5em;
}

/*# sourceMappingURL=register.css.map */
