$theme-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);


@mixin logos-icon() {
    width: 8vw;
    height: 2em;
    display: inline-block;
    margin: 1em 0 0 6vw;
}
#logo-icon{
    @include logos-icon();
}

@mixin greenBtn(){
    font-size: 1em;
    font-family: Raleway, 'Open Sans', Arial;
    color: white;
    font-weight: 900;
    position: relative;
    background-color: #23D3D3;
    padding: 1.2em 2em 1.2em 2em;
    border-radius: 30px;
    width: 6em;
    cursor: pointer;
}
@mixin boldJosFont(){
    font-family: 'Josefin Sans', Raleway, 'Open Sans', Arial;
    font-weight: 900;
    color: #1C2C40;
}
@mixin lightArial(){
    font-family: Raleway, 'Open Sans', Arial;
    color: rgb(36, 56, 80, 0.5);
    font-weight: 900;
    position: relative;
}

@mixin flexCenter-col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexNormal-col{
    display: flex;
    flex-direction: column;
}
@mixin flexCenter-row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flexNormal-row{
    display: flex;
    flex-direction: row;
}



*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
body::-webkit-scrollbar{
    display: none;
    
}

.navbar{
    width: 100vw;
    height: 5em;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    transition: ease-in-out;
    transition-duration: 5s;

    div{
        display: flex;
        flex-direction: row;

        #parentUL{
            list-style-type: none;
            width: 100vw;
            margin-top: 1.5em;
            margin-left: 1.5vw;
            display: flex;
            flex-direction: row;

            .nav-list{
                display: inline;
                margin-left: .5vw;
                font-family: 'Josefin Sans';
                font-size: 1em;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                height: 1em;
                
                .dropUL{
                    margin-top: 2em;
                    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
                    z-index: 4;
                    position: fixed;
                    border-radius: 5px;
                    
                    .drop{
                        padding: .5em;
                        cursor: pointer;
                    }
                    .drop:hover{
                        color: rgb(80, 211, 211);
                        border-bottom: 1px solid rgb(80, 211, 211);
                    }
                }
                #dropUL1, #dropUL2{
                    display: none;
                    
                }
            }
            .nav-list:hover{
                border-top: 2px solid rgb(80, 211, 211);
            }
        }
    }
}

#hero{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 65vh;
    overflow-y: hidden;

    p{
        /*font-family: 'ZCOOL KuaiLe', cursive;*/
        font-family: 'Josefin Sans', Raleway, 'Open Sans', Arial; 
        font-style: normal;
        font-weight: 500;
        font-size: 2.5em;
        color: rgb(25, 49, 78);
        width: 55vw;
        position: relative;
        top: 28.5vh;
        left: 9vw;
    }
    #illustration{
        position: relative;
        top: 16vh;
        left: 12em;
        width: 15em;
        height: 20em;
        padding-bottom: 3em;
    }
}

#search-div{
    background-color: rgb(231, 230, 230);
    width: 100vw;

    #travel-search{
        @include flexCenter-col();

        #search-box-div{
            @include flexCenter-row();
            margin-bottom: .5em;

            .search-box{
                display: flex;
                flex-direction: column;
                margin: 2em .5em 2em .5em;

                label {
                    font-size: 1em;
                    font-family: Raleway, arial;
                    font-weight: 800;
                    color: rgb(94, 94, 94);
                }
                input[type="text"]{
                    width: 35em;
                    height: 2.8em;
                    border-radius: 5px;
                    background-color: rgba(167, 164, 179, 0.3);
                    border: 1px solid rgb(20, 20, 20, 0.1);
                    padding-left: 1em;
                    color: rgb(46, 46, 46);
                }
                input[type="text"]::-moz-focus-inner, input[type="text"]:focus{
                    background-color: white;
                }

                p{
                    .blue{
                        color: rgb(15, 140, 197);;
                    }
                }
            }

            .c1{ 
                
                p{
                    font-family: Raleway, 'Open Sans', Arial;
                    font-weight: bolder;
                    font-size: .8em;
                    padding-top: .5em;
                    color: rgb(94, 94, 94);
                }
            }
            .c3{ 
                
                p{
                    font-family: Raleway, 'Open Sans', Arial;
                    font-size: .8em;
                    padding-top: .5em;
                    color: rgb(15, 140, 197);
                    font-weight: 700;
                    cursor: pointer;
                }
                input[type="submit"]{
                    padding: .6em 1em .6em 1em;
                    background-color: rgb(155, 8, 76);
                    color: white;
                    font-size: 1em;
                    font-family: Raleway, 'Open Sans', Arial;
                    border: none; 
                    border-radius: 3px;
                }
                input[type="submit"]:hover{
                    cursor: pointer;
                    background-color: rgb(199, 22, 104);
                }
            }
               
        }

        #advance-search-box{
            @include flexCenter-row();
            background-color: whitesmoke;
            padding: 1em 1em 2em 1em;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            width: 78vw;
            border-radius: 5px;
            margin-bottom: 3em;
            display: none;

            .advance-check-div{
                display: flex;
                flex-direction: column;
                margin: 0 2em 0 2em;
                .no{margin: 0;}

                p{
                    font-family: Raleway, 'Open Sans', Arial;
                    font-size: .8em;
                    font-weight: 900;
                    color: rgb(94, 94, 94);
                    margin-bottom: 1em;
                }

                span{

                    label{
                        font-family: 'Open Sans', Arial;
                        font-size: .8em;
                        font-weight: 700;
                        color: rgb(70, 70, 70);
                    }
                    input[type="text"]{
                        height: 2.22em;
                        padding-left: 1em;
                        border-radius: 0 5px 5px 0;
                        border: 1px solid rgb(20, 20, 20, 0.1);
                        background-color: rgba(167, 164, 179, 0.2);
                        font-size: .8em;
                        color: rgb(19, 19, 19);
                    }
                }
            }

            #SE{
                margin-top: 2em;

                .advance-check-div{

                    .SE-span{
                        margin-top: .3em;

                        .SE-label{
                            width: 10em;
                            border: 1px solid rgb(20, 20, 20, 0.1);
                            border-radius: 5px 0 0 5px;
                            padding: .55em 1em .55em 1em;
                            background-color: white;
                        }
                        #S-E-1{width: 12em;}#S-E-2{width: 9.5em;}#S-E-3{width: 10.8em;}
                    }
                }.no{margin: 0;}
            }

        }
    }
}

.search-result{
    background-color: rgb(238, 237, 237);

    #bar-labels{
        border: 1px solid rgb(20, 20, 20, 0.1);
        padding: 1em .2em .4em .2em;
        @include flexNormal-row();
        font-family: 'Open Sans', Arial;
        font-size: .7em;
        font-weight: 600;
        margin-bottom: 3em;

        #bar-labels-l1{position: relative;left: 4em; font-family: Raleway; font-size: 1.2em; color: rgb(48, 47, 47);}
        #bar-labels-l2{position: relative; margin-left: 75em; color:rgb(119, 119, 119);font-family: Raleway; font-size: 1.2em; span{color: black;}}
        #bar-labels-l3{position: relative; color: rgb(1,1,255); font-family: Raleway; font-size: 1.2em;}
        span{color: black;}
    }

    .school-result-div{
        @include flexNormal-row();
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 2.5em;
        border-bottom: 1px solid rgb(20, 20, 20, 0.1);

        #sch-logo{
            width: 6.5em;
            height: 6.5em;
            border-radius: 20em;
            background-color: rgb(221, 82, 18);
        }

        span{
            @include flexNormal-row();
            width: auto;
            overflow-x: scroll;
            padding: .5em 0 .5em 0; 

            .result-box{
                padding:.3em;
                box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
                margin: 0 .3em 0 .3em;
                border-radius: 5px;
                height: auto;
                cursor: pointer;

                img {
                    width: 12em;
                    height: 8em;
                    border-radius: 0;
                }

                div{
                    @include flexCenter-row();
                    border-top: 1px solid rgb(20, 20, 20, 0.1);
                    padding-top: .5em;

                    #price{
                        font-family: 'Open Sans', Arial;
                        font-size: .8em;
                        font-weight: 700;
                        color: rgb(58, 58, 58);
                        padding: .2em .5em .2em .5em;
                        margin-right: 3em;
                    }
                    #cta{
                        background-color: black;
                        color:white;
                        font-family: Raleway, 'Open Sans', Arial;
                        font-size: .7em;
                        font-weight: 700;
                        text-align: center;
                        padding: .2em .5em .2em .5em;
                        border-radius: 3px;
                        float: right;
                        margin-left: 3em;
                        cursor: pointer;
                    }
                    #cta:hover{
                        transform: scale(1.1);
                        background-color: rgb(1,1,255);
                        color: white;
                    }
                }
            }
            .result-box:hover{
                transform: scale(1.03);
            }
        }
        span::-webkit-scrollbar{
            display: none;
        }
        span::-webkit-scrollbar-track{
            display: block;
        }

        #school-description{
            width: 30em;
            margin: 0 1em 0 1.5em;
            padding: .5em 0 .5em 0;
            

            #S-name{
                font-family: 'Open Sans', Arial;
                font-size: .8em;
                font-weight: 700;
                color: rgb(46, 46, 46);
            }
            #S-location{
                font-family: Raleway, 'Open Sans', Arial;
                font-size: .6em;
                font-weight: 700;
                color: rgb(68, 68, 68);
            }
            #S-desc{
                font-family: Raleway, 'Open Sans', Arial;
                font-size: .85em;
                font-weight: 800;
                color: rgba(54, 54, 54,.8);
                line-height: 1.1em;
            }
        }
    }

    #load-more-btn{
        padding: 1em 2em 1em 2em;
        background-color: whitesmoke;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        font-family: Raleway, 'Open Sans', Arial;
        font-size: .8em;
        font-weight: 900;
        color: rgb(51, 51, 51);
        cursor: pointer;
        margin: 7em 0 3em 0;
    }
    #load-more-btn:hover{
        background-color: black;
        color: white;
    }

}

.promo{

    @include flexNormal-row();
    width: 100vw;

    #promo-left{
        width: 50vw;
        height: 40vh;
        background-color: rgba(18, 79, 194, 0.6);
        @include flexCenter-col();
    }
    #promo-right{
        width: 50vw;
        height: 40vh;
        background-color: rgb(5, 25, 143, .9);
        @include flexNormal-col();
        
        div{
            @include flexNormal-col();
            margin-top: 4.5em;
            margin-left: 3em;

            span{
                @include flexNormal-row();

                p{
                    font-size: .8em;
                    font-family: Raleway;
                    font-weight: 700;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                }
                p:hover {
                    background-color: white;
                    color: rgb(5, 25, 143, .9);
                }
                #stb-btn{background-color: rgb(45, 107, 221);} 
                #stb-btn:hover{background-color: white;} 
            }
        }
    }
}

.prefooter{
    @include flexCenter-col();
    background: rgb(238, 238, 238);
    padding: 5em;

    div{
        @include flexCenter-row();
        img{
            width: 8em;
            height: 3em;
        }
        #prefoorter-text{
            font-size: 1em;
            font-family: Raleway;
            color: rgb(43, 43, 43,.8);
            font-weight: 600;
            margin: 0 1.5em 0 1.5em;
            
        }
        #text-btn{
            font-size: 1em;
            font-family: Raleway;
            color: rgb(49, 49, 49);
            background: rgb(204, 204, 204);
            font-weight: 700;
            border-radius: 3px;
            padding: .7em 1em .7em 1em;
            cursor: pointer;
        }
        #text-btn:hover{
            color: white;
            background: black;
        }
    }

    #prefooter-signUpbtn{
        font-size: 1em;
        font-family: Raleway;
        color: white;
        background: rgb(189, 10, 94);
        font-weight: 700;
        border-radius: 3px;
        padding: .7em 6em .7em 6em;
        cursor: pointer;
        text-align: center;      
        margin-top: 3em;
    }
    #prefooter-signUpbtn:hover{
        background: rgb(216, 29, 116);
    }
    #prefooter-signIntext{
        font-size: 1em;
        color: blue;
        font-family: Raleway;
        cursor: pointer;
        margin-top: 1.5em;
        font-weight: 600;
    }
}

@import "footer" ;