#logo-icon {
  width: 8vw;
  height: 2em;
  display: inline-block;
  margin: 1em 0 0 6vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100vw;
  height: 5em;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  transition: ease-in-out;
  transition-duration: 5s;
}
.navbar div {
  display: flex;
  flex-direction: row;
}
.navbar div #parentUL {
  list-style-type: none;
  width: 100vw;
  margin-top: 1.5em;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: row;
}
.navbar div #parentUL .nav-list {
  display: inline;
  margin-left: 0.5vw;
  font-family: "Josefin Sans";
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  height: 1em;
}
.navbar div #parentUL .nav-list .dropUL {
  margin-top: 2em;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: fixed;
  border-radius: 5px;
}
.navbar div #parentUL .nav-list .dropUL .drop {
  padding: 0.5em;
  cursor: pointer;
}
.navbar div #parentUL .nav-list .dropUL .drop:hover {
  color: #50d3d3;
  border-bottom: 1px solid #50d3d3;
}
.navbar div #parentUL .nav-list #dropUL1, .navbar div #parentUL .nav-list #dropUL2 {
  display: none;
}
.navbar div #parentUL .nav-list:hover {
  border-top: 2px solid #50d3d3;
}

#hero {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 65vh;
  overflow-y: hidden;
}
#hero p {
  /*font-family: 'ZCOOL KuaiLe', cursive;*/
  font-family: "Josefin Sans", Raleway, "Open Sans", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5em;
  color: #19314e;
  width: 55vw;
  position: relative;
  top: 28.5vh;
  left: 9vw;
}
#hero #illustration {
  position: relative;
  top: 16vh;
  left: 12em;
  width: 15em;
  height: 20em;
  padding-bottom: 3em;
}

#search-div {
  background-color: #e7e6e6;
  width: 100vw;
}
#search-div #travel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search-div #travel-search #search-box-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
#search-div #travel-search #search-box-div .search-box {
  display: flex;
  flex-direction: column;
  margin: 2em 0.5em 2em 0.5em;
}
#search-div #travel-search #search-box-div .search-box label {
  font-size: 1em;
  font-family: Raleway, arial;
  font-weight: 800;
  color: #5e5e5e;
}
#search-div #travel-search #search-box-div .search-box input[type=text] {
  width: 35em;
  height: 2.8em;
  border-radius: 5px;
  background-color: rgba(167, 164, 179, 0.3);
  border: 1px solid rgba(20, 20, 20, 0.1);
  padding-left: 1em;
  color: #2e2e2e;
}
#search-div #travel-search #search-box-div .search-box input[type=text]::-moz-focus-inner, #search-div #travel-search #search-box-div .search-box input[type=text]:focus {
  background-color: white;
}
#search-div #travel-search #search-box-div .search-box p .blue {
  color: #0f8cc5;
}
#search-div #travel-search #search-box-div .c1 p {
  font-family: Raleway, "Open Sans", Arial;
  font-weight: bolder;
  font-size: 0.8em;
  padding-top: 0.5em;
  color: #5e5e5e;
}
#search-div #travel-search #search-box-div .c3 p {
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.8em;
  padding-top: 0.5em;
  color: #0f8cc5;
  font-weight: 700;
  cursor: pointer;
}
#search-div #travel-search #search-box-div .c3 input[type=submit] {
  padding: 0.6em 1em 0.6em 1em;
  background-color: #9b084c;
  color: white;
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  border: none;
  border-radius: 3px;
}
#search-div #travel-search #search-box-div .c3 input[type=submit]:hover {
  cursor: pointer;
  background-color: #c71668;
}
#search-div #travel-search #advance-search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 1em 1em 2em 1em;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 78vw;
  border-radius: 5px;
  margin-bottom: 3em;
  display: none;
}
#search-div #travel-search #advance-search-box .advance-check-div {
  display: flex;
  flex-direction: column;
  margin: 0 2em 0 2em;
}
#search-div #travel-search #advance-search-box .advance-check-div .no {
  margin: 0;
}
#search-div #travel-search #advance-search-box .advance-check-div p {
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.8em;
  font-weight: 900;
  color: #5e5e5e;
  margin-bottom: 1em;
}
#search-div #travel-search #advance-search-box .advance-check-div span label {
  font-family: "Open Sans", Arial;
  font-size: 0.8em;
  font-weight: 700;
  color: #464646;
}
#search-div #travel-search #advance-search-box .advance-check-div span input[type=text] {
  height: 2.22em;
  padding-left: 1em;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(20, 20, 20, 0.1);
  background-color: rgba(167, 164, 179, 0.2);
  font-size: 0.8em;
  color: #131313;
}
#search-div #travel-search #advance-search-box #SE {
  margin-top: 2em;
}
#search-div #travel-search #advance-search-box #SE .advance-check-div .SE-span {
  margin-top: 0.3em;
}
#search-div #travel-search #advance-search-box #SE .advance-check-div .SE-span .SE-label {
  width: 10em;
  border: 1px solid rgba(20, 20, 20, 0.1);
  border-radius: 5px 0 0 5px;
  padding: 0.55em 1em 0.55em 1em;
  background-color: white;
}
#search-div #travel-search #advance-search-box #SE .advance-check-div .SE-span #S-E-1 {
  width: 12em;
}
#search-div #travel-search #advance-search-box #SE .advance-check-div .SE-span #S-E-2 {
  width: 9.5em;
}
#search-div #travel-search #advance-search-box #SE .advance-check-div .SE-span #S-E-3 {
  width: 10.8em;
}
#search-div #travel-search #advance-search-box #SE .no {
  margin: 0;
}

.search-result {
  background-color: #eeeded;
}
.search-result #bar-labels {
  border: 1px solid rgba(20, 20, 20, 0.1);
  padding: 1em 0.2em 0.4em 0.2em;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", Arial;
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 3em;
}
.search-result #bar-labels #bar-labels-l1 {
  position: relative;
  left: 4em;
  font-family: Raleway;
  font-size: 1.2em;
  color: #302f2f;
}
.search-result #bar-labels #bar-labels-l2 {
  position: relative;
  margin-left: 75em;
  color: #777777;
  font-family: Raleway;
  font-size: 1.2em;
}
.search-result #bar-labels #bar-labels-l2 span {
  color: black;
}
.search-result #bar-labels #bar-labels-l3 {
  position: relative;
  color: #0101ff;
  font-family: Raleway;
  font-size: 1.2em;
}
.search-result #bar-labels span {
  color: black;
}
.search-result .school-result-div {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 2.5em;
  border-bottom: 1px solid rgba(20, 20, 20, 0.1);
}
.search-result .school-result-div #sch-logo {
  width: 6.5em;
  height: 6.5em;
  border-radius: 20em;
  background-color: #dd5212;
}
.search-result .school-result-div span {
  display: flex;
  flex-direction: row;
  width: auto;
  overflow-x: scroll;
  padding: 0.5em 0 0.5em 0;
}
.search-result .school-result-div span .result-box {
  padding: 0.3em;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  margin: 0 0.3em 0 0.3em;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
}
.search-result .school-result-div span .result-box img {
  width: 12em;
  height: 8em;
  border-radius: 0;
}
.search-result .school-result-div span .result-box div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(20, 20, 20, 0.1);
  padding-top: 0.5em;
}
.search-result .school-result-div span .result-box div #price {
  font-family: "Open Sans", Arial;
  font-size: 0.8em;
  font-weight: 700;
  color: #3a3a3a;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 3em;
}
.search-result .school-result-div span .result-box div #cta {
  background-color: black;
  color: white;
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 3px;
  float: right;
  margin-left: 3em;
  cursor: pointer;
}
.search-result .school-result-div span .result-box div #cta:hover {
  transform: scale(1.1);
  background-color: #0101ff;
  color: white;
}
.search-result .school-result-div span .result-box:hover {
  transform: scale(1.03);
}
.search-result .school-result-div span::-webkit-scrollbar {
  display: none;
}
.search-result .school-result-div span::-webkit-scrollbar-track {
  display: block;
}
.search-result .school-result-div #school-description {
  width: 30em;
  margin: 0 1em 0 1.5em;
  padding: 0.5em 0 0.5em 0;
}
.search-result .school-result-div #school-description #S-name {
  font-family: "Open Sans", Arial;
  font-size: 0.8em;
  font-weight: 700;
  color: #2e2e2e;
}
.search-result .school-result-div #school-description #S-location {
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.6em;
  font-weight: 700;
  color: #444444;
}
.search-result .school-result-div #school-description #S-desc {
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.85em;
  font-weight: 800;
  color: rgba(54, 54, 54, 0.8);
  line-height: 1.1em;
}
.search-result #load-more-btn {
  padding: 1em 2em 1em 2em;
  background-color: whitesmoke;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: Raleway, "Open Sans", Arial;
  font-size: 0.8em;
  font-weight: 900;
  color: #333333;
  cursor: pointer;
  margin: 7em 0 3em 0;
}
.search-result #load-more-btn:hover {
  background-color: black;
  color: white;
}

.promo {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.promo #promo-left {
  width: 50vw;
  height: 40vh;
  background-color: rgba(18, 79, 194, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo #promo-right {
  width: 50vw;
  height: 40vh;
  background-color: rgba(5, 25, 143, 0.9);
  display: flex;
  flex-direction: column;
}
.promo #promo-right div {
  display: flex;
  flex-direction: column;
  margin-top: 4.5em;
  margin-left: 3em;
}
.promo #promo-right div span {
  display: flex;
  flex-direction: row;
}
.promo #promo-right div span p {
  font-size: 0.8em;
  font-family: Raleway;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.promo #promo-right div span p:hover {
  background-color: white;
  color: rgba(5, 25, 143, 0.9);
}
.promo #promo-right div span #stb-btn {
  background-color: #2d6bdd;
}
.promo #promo-right div span #stb-btn:hover {
  background-color: white;
}

.prefooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  padding: 5em;
}
.prefooter div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.prefooter div img {
  width: 8em;
  height: 3em;
}
.prefooter div #prefoorter-text {
  font-size: 1em;
  font-family: Raleway;
  color: rgba(43, 43, 43, 0.8);
  font-weight: 600;
  margin: 0 1.5em 0 1.5em;
}
.prefooter div #text-btn {
  font-size: 1em;
  font-family: Raleway;
  color: #313131;
  background: #cccccc;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.7em 1em 0.7em 1em;
  cursor: pointer;
}
.prefooter div #text-btn:hover {
  color: white;
  background: black;
}
.prefooter #prefooter-signUpbtn {
  font-size: 1em;
  font-family: Raleway;
  color: white;
  background: #bd0a5e;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.7em 6em 0.7em 6em;
  cursor: pointer;
  text-align: center;
  margin-top: 3em;
}
.prefooter #prefooter-signUpbtn:hover {
  background: #d81d74;
}
.prefooter #prefooter-signIntext {
  font-size: 1em;
  color: blue;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 1.5em;
  font-weight: 600;
}

#footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer #footer1 {
  width: 30vw;
  height: 50vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer #footer1 span {
  display: flex;
  flex-direction: column;
}
#footer #footer1 span img {
  width: 3em;
  height: 3em;
}
#footer #footer1 span p {
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 3em;
}
#footer #footer2 {
  width: 20vw;
  height: 50vh;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #footer2 span {
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
}
#footer #footer2 span img {
  width: 1em;
  height: 1em;
}
#footer #footer2 span img:hover {
  transform: scale(1.1);
}
#footer #footer2 div {
  margin-top: 3em;
  margin-left: 1.5em;
}
#footer #footer2 div p {
  text-decoration: underline;
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-size: 1em;
  margin-top: 0.5em;
}
#footer #footer3 {
  width: 50vw;
  height: 50vh;
  background: #4d4c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #footer3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
}
#footer #footer3 div #lastFooterTextB {
  color: white;
  font-weight: 900;
  font-size: 1.8em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.1em;
  width: 25vw;
}
#footer #footer3 div span {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  display: none;
}
#footer #footer3 div span a p {
  color: white;
  text-decoration: none;
  padding: 0.7em 1.5em 0.7em 1.5em;
  border: 1px solid white;
  font-size: 1em;
  font-family: "Josefin Sans", Raleway;
  border-radius: 5px;
}
#footer #footer3 div span a p:hover {
  color: yellow;
  border: 1px solid yellow;
}

/*# sourceMappingURL=styles.css.map */
