*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
#navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
    height: 3vw;
}

#nav-Inner-Div > span > p{
    font-family: Raleway, 'Open Sans', Arial;
    position: relative;
    top: 10px;
    left: 1em;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: normal;
    color: #34227C;
    margin-bottom: 1em;
}

#logo-icon{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: .5em .5em 0 4em;
}
#logo-text{
    font-family: Raleway, 'Open Sans', Arial; 
    font-weight: 900;
    font-size: 18px;
    line-height: normal;
    position: relative;
    bottom: .3em;
}

#nav-Inner-Div > ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    position: relative; 
    left: 5em;
    bottom: .35em;
    font-family: Raleway, 'Open Sans', Arial; 
    font-weight: 900;
    font-size: 13px;
} 
.nav-list{ 
    padding: 0 1em 0 1em;
    cursor: pointer;
}
.drop-arrow{
    transform: rotate(30deg);
    color: rgb(1,1,255);
}
#agent-uni-menu{
    position: relative;
    left: 40em;
}

#hero{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75vh;
}
#hero>p{
    /*font-family: 'ZCOOL KuaiLe', cursive;*/
    font-family: Raleway, 'Open Sans', Arial; 
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    color: rgb(32, 31, 37);
    width: 20em;
    position: relative;
    top: 5em;
    left: 3em;
}
#illustration{
    position: relative;
    top: 5em;
    left: 10em;
    width: 17em;
    height: 25em;
}

#search-div{
    background-color: rgb(209, 207, 207);
    width: 100vw;
}
.blue{
    color: blue;
}
#travel-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#search-box-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}
.search-box{
    display: flex;
    flex-direction: column;
    margin: 2em .5em 2em .5em;
}
.search-box > label {
    font-size: .7em;
    font-family: Raleway, arial;
    font-weight: 800;
    color: rgb(94, 94, 94);
}
.search-box > input[type="text"]{
    width: 30em;
    height: 1.5em;
    border-radius: 5px;
    background-color: rgba(167, 164, 179, 0.3);
    border: 1px solid rgb(20, 20, 20, 0.1);
    padding-left: 1em;
    color: rgb(46, 46, 46);
}
.c1 > p{
    font-family: 'Open Sans', Arial;
    font-size: .7em;
    padding-top: .5em;
    color: rgb(94, 94, 94);
}
.c3 > p{
    font-family: 'Open Sans', Arial;
    font-size: .7em;
    padding-top: .5em;
    color: rgb(8, 52, 175);
    font-weight: 700;
    cursor: pointer;
}
.c3> input[type="submit"]{
    padding: .2em 1em .2em 1em;
    background-color: rgb(155, 8, 76);
    color: white;
    font-size: 1em;
    font-family: 'Open Sans', Arial;
    border: none; border-radius: 3px;
}

#advance-search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 1em 1em 2em 1em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
    border-radius: 5px;
    margin-bottom: 2em;
    display: none;
}
.advance-check-div{
    display: flex;
    flex-direction: column;
    margin: 0 1.5em 0 1.5em;
} .no{margin: 0;}
.advance-check-div > p{
    font-family: Raleway, 'Open Sans', Arial;
    font-size: .7em;
    font-weight: 900;
    color: rgb(94, 94, 94);
    margin-bottom: 1em;
} 
.advance-check-div > span> label{
    font-family: 'Open Sans', Arial;
    font-size: .7em;
    font-weight: 700;
    color: rgb(70, 70, 70);
}

.advance-check-div>span> input[type="text"]{
    height:1.85em;
    padding-left: 1em;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgb(20, 20, 20, 0.1);
    background-color: rgba(167, 164, 179, 0.2);
}
#SE{
    margin-top: 2em;
}
.SE-span{
    margin-top: .3em;
}
.SE-label{
    width: 10em;
    border: 1px solid rgb(20, 20, 20, 0.1);
    border-radius: 5px 0 0 5px;
    padding: .55em 1em .55em 1em;
    background-color: white;
}
#S-E-1{width: 12em;}#S-E-2{width: 10em;}#S-E-3{width: 11em;}

.search-result{
    background-color: rgb(238, 237, 237);
}
#bar-labels{
    border: 1px solid rgb(20, 20, 20, 0.1);
    padding: 1em .2em .4em .2em;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', Arial;
    font-size: .7em;
    font-weight: 600;
    margin-bottom: 3em;
}
#bar-labels-l1{position: relative;left: 4em;}
#bar-labels-l2{position: relative;left: 91em; color:rgb(119, 119, 119);}
#bar-labels-l3{position: relative;left: 92em; color: rgb(1,1,255)}
#bar-labels-l2>span{color: black;}

.school-result-div{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    border-bottom: 1px solid rgb(20, 20, 20, 0.1);
}
.school-result-div > img{
    width: 5em;
    height: 5em;
    border-radius: 100px;
    background-color: rgb(226, 116, 180);
}
.result-box{
    padding:.3em;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    margin: 0 .3em 0 .3em;
    border-radius: 5px;
    height: fit-content;
    cursor: pointer;
}
.result-box:hover{
    transform: scale(1.1);
}
.result-box > img {
    width: 8em;
    height: 6em;
}
.result-box> div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(20, 20, 20, 0.1);
    padding-top: .5em;
}
#price{
    font-family: 'Open Sans', Arial;
    font-size: .8em;
    font-weight: 700;
    color: rgb(58, 58, 58);
    padding: .2em .5em .2em .5em;
    margin-right: 1em;
}
#cta{
    background-color: black;
    color:white;
    font-family: Raleway, 'Open Sans', Arial;
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    padding: .2em .5em .2em .5em;
    border-radius: 3px;
    float: right;
    margin-left: 1em;
    cursor: pointer;
}
#cta:hover{
    transform: scale(1.1);
    background-color: rgb(1,1,255);
    color: white;
}
.school-result-div>span{
    display: flex;
    flex-direction: row;
    width: auto;
    overflow-x: scroll; 
}
.school-result-div>span::-webkit-scrollbar{
    display: none;
}
.school-result-div>span::-webkit-scrollbar-track{
    display: block;
}

#school-description{
    width: 15em;
    margin: 0 1em 0 1em;
}
#S-name{
    font-family: 'Open Sans', Arial;
    font-size: .8em;
    font-weight: 700;
    color: rgb(46, 46, 46);
}   
#S-location{
    font-family: Raleway, 'Open Sans', Arial;
    font-size: .6em;
    font-weight: 700;
    color: rgb(68, 68, 68);
}
#S-desc{
    font-family: Raleway, 'Open Sans', Arial;
    font-size: .7em;
    font-weight: 800;
    color: rgb(46, 46, 46);
}

#load-more-btn{
    padding: .5em 1em .5em 1em;
    background-color: whitesmoke;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: Raleway, 'Open Sans', Arial;
    font-size: .8em;
    font-weight: 900;
    color: black;
    cursor: pointer;
    margin: 5em 0 3em 0;
}
#load-more-btn:hover{
    background-color: black;
    color: white;
}

.promo{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#promo-left{
    width: 50vw;
    height: 40vh;
    background-color: rgba(42, 42, 235, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#promo-right{
    width: 50vw;
    height: 40vh;
    background-color: rgb(5, 25, 143, .9);
    display: flex;
    flex-direction: column;
    
}
#promo-right > div{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 3em;
}
#promo-right > div> span{
    display: flex;
    flex-direction: row;
}
#promo-right > div> span> p{
    font-size: .75em;
    font-family: Raleway;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#promo-right > div> span> p:hover {
    background-color: white;
    color: rgb(5, 25, 143, .9);
} #stb-btn{background-color: rgba(54, 54, 221, 0.9);} #stb-btn:hover{background-color: white;} 

.drop{
    cursor: pointer;
}
.drop:hover{
    color: rgb(1,1,255);
}
#dropUL{
    display: none;
}