$theme-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

#navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: $theme-shadow;
    z-index: 4;
    height: 4vw;
}

@mixin logos-icon() {
    width: 6.5em;
    height: 2em;
    display: inline-block;
    margin: 1em 0 0 3em;
}
#logo-icon{
    @include logos-icon();
}

#nav-Inner-Div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-Inner-Div > span > p{
    font-family: 'Josefin Sans', Raleway, 'Open Sans', Arial;
    position: relative;
    left: 1em;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: normal;
    color: #34227C;
    margin-bottom: 1em;
  }
  
  #nav-Inner-Div > ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    position: relative; 
    font-family: 'Josefin Sans', Raleway, 'Open Sans', Arial; 
    font-weight: 900;
    font-size: 13px;
  } 
  .nav-list{ 
    padding: 0 1em 0 1em;
    cursor: pointer;
  }
  .drop-arrow{
    transform: rotate(30deg);
    color: rgb(1,1,255);
  }
  #agent-uni-menu{
    position: relative;
    left: 40em;
  }
  
  #dropUL{
    display: block;
  }