

$theme-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);


@mixin logos-icon() {
    width: 7vw;
    height: 2em;
    display: inline-block;
    margin: 1em 0 0 3vw;
}
#logo-icon{
    @include logos-icon();
}

@mixin greenBtn(){
    font-size: 1em;
    font-family: Raleway, 'Open Sans', Arial;
    color: white;
    font-weight: 900;
    position: relative;
    background-color: #23D3D3;
    padding: 1.2em 2em 1.2em 2em;
    border-radius: 30px;
    width: 6em;
    cursor: pointer;
}
@mixin boldJosFont(){
    font-family: 'Josefin Sans', Raleway, 'Open Sans', Arial;
    font-weight: 900;
    color: #1C2C40;
}
@mixin lightArial(){
    font-family: Raleway, 'Open Sans', Arial;
    color: rgb(36, 56, 80, 0.5);
    font-weight: 900;
    position: relative;
}


  
  
@mixin flexCenter-col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexCenter-row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
body::-webkit-scrollbar{
    display: none;
    
}

/// Nav-Bar starts
.navbar{
    width: 100vw;
    height: 5em;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    transition: ease-in-out;
    transition-duration: 5s;

    div{
        display: flex;
        flex-direction: row;

        #parentUL{
            list-style-type: none;
            width: 100vw;
            margin-top: 1.5em;
            margin-left: 1.5vw;
            display: flex;
            flex-direction: row;

            .nav-list{
                display: inline;
                margin-left: 1vw;
                font-family: 'Josefin Sans';
                font-size: 1em;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                height: 1em;
                
                .dropUL{
                    margin-top: 2em;
                    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
                    z-index: 4;
                    position: fixed;
                    border-radius: 5px;
                    
                    .drop{
                        padding: .5em;
                        cursor: pointer;
                    }
                    .drop:hover{
                        color: rgb(80, 211, 211);
                        border-bottom: 1px solid rgb(80, 211, 211);
                    }
                }
                #dropUL1, #dropUL2{
                    display: none;
                    
                }
            }
            .nav-list:hover{
                border-top: 2px solid rgb(80, 211, 211);
            }

            #costCalc{
                background: rgb(20, 20, 20);
                
            }
            
            #signInBtn{
                background: rgb(80, 211, 211);
                float: right;
            }
            #signInBtn:hover{
                background: rgb(80, 211, 211, .7);
                
            }

        }
    }
}

/// hero section starts (First view port)
#hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
}
#heroSub{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    top: 4.5vh;
    background-color: rgb(250, 250, 250);
}

#left-hero{
    width: fit-content;
    position: relative;
    top: 20vh;
    left: 4vw;
    

    #heroCap{
        color: rgba(0, 0, 0, 0.75);
        font-size: 5.5em;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: .9em;
    }
    #heroText{
        font-size: 1em;
        font-family: Raleway, 'Open Sans', Arial;
        color: rgb(36, 56, 80);
        font-weight: 900;
        position: relative;
        top: 2em;
        line-height: 1.5em;
    }
    .span{
        @include greenBtn();
        top: 4em;
    }
    .span:hover{
        background-color: rgb(98, 230, 230);
    }
}

#right-hero{

    img{
        width: 22em;
        height: 22em;
        position: relative;
        top: 17vh;
        left: 1.5em;
    }

    #extraHeroText{
        @include lightArial();
        font-size: 1.15em;
        top: 27vh;
        margin-left: 1em;
        width: 25vw;
        line-height: 1.3em;
    }
}

/// down arrow btn
#more{
    display: block;
    margin: auto;
    padding: .25em;
    border-radius: 50px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    bottom: 5em;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: 5;
}

/// color cards

#serviceCardsect{
    @include flexCenter-row();
    background-color: #fcfcfc;
    width: 100vw;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

    div{
        height: 45vh;
        width: 18.6vw;
        margin: 0 .55vw 0 .55vw;
        background-size: contain;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);;
        border-radius: 5px;
        display: flex;
        overflow: hidden;
        cursor: pointer;
    }
    div:hover{
        background-size: cover;
        transition: all 2s ease-in-out;
    }

    p{
        color: rgba(24, 24, 24, 0.9);
        font-size: 1.3em;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: .9em;
        position: relative;
        top: 11em;
        margin-left: .5em;
    }
}

#firstCard{
    background: linear-gradient(90deg,rgba(101, 149, 212, 0.5)0%, rgba(101, 149, 212, 0.5)50%) , url('../images/frame__3__teaser.png');
}
#secondCard{
    background-image: linear-gradient(90deg,rgba(205, 207, 67, 0.5)0%, rgba(205, 207, 67, 0.5)50%) , url('../images/presentationartboard_1_teaser.jpg');
}
#thirdCard{
    background-image: linear-gradient(90deg,rgba(50, 194, 81, 0.5)0%, rgba(50, 194, 81, 0.5)50%) , url('../images/ice_teaser\ \(1\).png');
}
#fourthCard{
    background-image: linear-gradient(90deg,rgba(196, 72, 140, 0.5)0%, rgba(196, 72, 140, 0.5)50%) , url('../images/ds_shot_teaser.png');
}
#fifthCard{
    background-image: linear-gradient(90deg,rgba(122, 59, 194, 0.5)0%, rgba(122, 59, 194, 0.5)50%) , url('../images/uicn_part2_teaser.jpg');
}

/// 3rd what is patch section
#whatUdoes{
    width: 100vw;
    @include flexCenter-col();

    #wUd-Caption{
        width: 100vw;
        @include flexCenter-col();
        margin-top: 22vh;
        margin-bottom: 10vh;

        p{
            font-size: 1em;
            font-family: Raleway, 'Open Sans', Arial;
            font-weight: 900;
            color: #1C2C40;
        }
        h{
            font-size: 2.5em;
            @include boldJosFont();
            text-align: center;
            margin-top: .8em;
        }
    }
    
}

#case-desc{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    margin-top: 2em;

    #cd-left{
        width: 45vw;

        .cd-desc-box{
            margin-bottom: 20vh;

            div{
                margin-left: 17vw;
                width: 25vw;
                .fChild{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    #Univ{
                        color: white;
                        font-size: 1.2em;
                        font-weight: 500;
                        padding: .3em .5em .3em .5em;
                        font-family: 'Josefin Sans';
                        background: #23D3D3;
                        border-radius: 5px;
                    }
                    #BHeader{
                        color: #1C2C40;
                        font-size: 1.5em;
                        font-weight: 900;
                        margin-left: 1vw;
                        font-family: 'Josefin Sans';
                        margin-bottom: -.3vh;
                    }
                    
                }
                .sChild{
                    color: rgba(31, 57, 88, 0.8);
                    font-size: 1.3em;
                    font-weight: 500;
                    font-family: 'Josefin Sans';
                    line-height: 1.4em;
                    margin: 4.5vh 0 0 0;
                }

                .tChild{
                    margin: 4.5vh 0 0 0;
                    color: rgba(31, 57, 88, 1);
                    font-size: 1.1em;
                    font-weight: 900;
                    font-family: 'Josefin Sans';
                    margin: 1.5em 0 0 0;
                    padding: .3em .7em .3em .7em;
                    border-radius: 50px;
                    border: 2px solid rgba(31, 57, 88, 1);
                    cursor: pointer;
                    width: 5.5em;
                }
            }
        }
    }
    #cd-right{
        width: 55vw;
        height: 140vh;
        background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.05)0%, rgba(0, 0, 0, 0.05)50%) , url('../images/800x600-blue-er-1a (1).png');
        background-size: cover;
        background-origin: content-box;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            position: relative;
            right: 8.5vw;
        }
        
    }
}

@mixin LeftRightT {
    div{
        width: 30vw;

        #fsectTB{
            @include boldJosFont();
            font-size: 2.5em;
            line-height: 1.1em;
        }
        #fsectTlight{
            @include lightArial();
            font-size: 1.15em;
            line-height: 1.5em;
            margin: 4.5vh 0 0 0;
        }
        div{
            width: 30vw;
            background: rgb(228, 228, 228);
            height: 2px;
            margin: 5vh 0 5vh 0;
            border-radius: 5px;

        }
        #fsectTBlessLight{
            color: rgba(31, 57, 88, 0.8);
            font-size: 1.4em;
            font-weight: 700;
            font-family: 'Josefin Sans', Arial;
            line-height: 1.4em;
        }
        .span{
            @include greenBtn();
            text-align: center;
            margin-top: 2vh;
        }
        .span:hover{
            background-color: rgb(98, 230, 230);
        }
    }
}

#fourthSect{
    width: 100vw;
    position: relative;
    top: 25vh;

    #fSectTop{
        width: 100vw;
        @include flexCenter-row();

        #fSectTleft{
            width: 30em;
            height: 30em;
            background: rgba(238, 137, 184, 0.15);
            border-radius: 25em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 7vw;

            #fSTlimg1, #fSTlimg2{
                display: flex;
                flex-direction: row;
            }
            #fSTlimg1{
                position: relative;
                right: 1vw;
            }
            #fSTlimg2{
                position: relative;
                right: 1.3vw;
            }
        }
        #fSectTright{
            display: flex;
            flex-direction: column;
            width: 50vw;
            position: relative;
            left: 12vw;

            
            @include LeftRightT();
            
        }
        
    }

    #fSectBottom{
        @include flexCenter-row();
        margin-top: 10em;
    
        .fsectText{
            @include LeftRightT();
            margin-left: 7vw;
        }

        #fSectBright{
            @include flexCenter-col();
            overflow: hidden;
            position: relative;
            left: 2vw;

            
            #fSBrDiv2{
                width: 35em; 
                height: 35em; 
                background: rgb(98, 230, 230, .15); 
                border-radius: 25em ;
                

                #fSBrDiv1{
                    @include flexCenter-row();
                    position: relative;
                    left: 8em;
                }
            }
        }
    }
    
}

/// faq div; light blue pre-footer

#pre-footer{
    background:rgb(98, 230, 230, .15);
    width: 100vw;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
/// border-top: 1px solid rgb(36, 190, 190);

    #FAQbold{
        color: rgb(23, 43, 68);
        font-family: 'Josefin Sans';
        font-size: 2em;
        font-weight: 900;
        width: 20vw;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    div{
        div{
            span{
                display: flex;
                flex-direction: row;
    
                p{
                    font-family: 'Josefin Sans';
                    font-size: 1.25em;
                    color: rgb(153, 152, 158);
                    padding-bottom: 1em;
                    padding-left: 2em;
                    cursor: pointer;
                    width: 30vw;
                    font-weight: 800;
                    border-bottom: 1px solid rgba(141, 137, 137, .3);
                }
                #FAQ1{
                    color: rgb(80, 211, 211);
                    border-bottom: 1px solid rgb(80, 211, 211);
                }
                
                #FAQ2:hover, #FAQ2:active, #FAQ3:hover, #FAQ3:active{
                    color: rgb(80, 211, 211);
                    border-bottom: 1px solid rgb(80, 211, 211);
                }
            }
        }

        #FAQtexts1, #FAQtexts2, #FAQtexts3{
            margin-top: 9vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            span{
                width: 22vw;

                .fTB{
                    color: rgb(23, 43, 68);
                    font-family: 'Josefin Sans';
                    font-size: 1.35em;
                    font-weight: 900;
                    margin-top: 9vh;
                    margin-bottom: 1.2em;
                    line-height: 1.5em;
                }
                .fTL{
                    color: rgba(23, 43, 68, .7);
                    font-family: 'Josefin Sans', Raleway;
                    font-size: 1.175em;
                    font-weight: 500;
                    line-height: 1.8em;
                }

                div{
                    width: 26vw;
                    height: 1px;
                    border-radius: 5px;
                    background: rgba(23, 43, 68, 0.15);
                    margin-top: 2em;
                    margin-left: -2em;
                }

            }
        }
        #FAQtexts2, #FAQtexts3{
            display: none;
        }

        #mssgIcons{
            @include flexCenter-row();

            span{
                img{
                    width: 3.5em;
                    height: 3.5em;
                }
                #seeMfaq{
                    color: rgb(80, 211, 211);
                    font-size: 1.15em;
                    margin-top: .5em;
                    font-family: 'Josefin Sans', Raleway;
                }
                #mailUS{
                    color: rgba(23, 43, 68, .7);
                    font-family: 'Josefin Sans', Raleway;
                    font-weight: 600;
                    font-size: 1em;
                    margin-top: .5em;
                }
            }
        }
        #vaseLine{
            width: 75vw;
            height: 1px;
            border-radius: 5px;
            background: rgba(23, 43, 68, 0.15);
            margin-bottom: 5em;
            margin-left: 7em;
        }
    }
    

}

#footer{
    width: 100vw;
    @include flexCenter-row();
    
    #footer1{
        width: 30vw;
        height: 50vh;
        background: rgb(255, 255, 255);
        @include flexCenter-col();

        span{
            display: flex;
            flex-direction: column;

            img{
                width: 3em;
                height: 3em;
            }
            
            p{
                color: rgba(23, 43, 68, 0.7);
                font-family: 'Josefin Sans', Raleway;
                font-size: 1em;
                line-height: 1.2em;
                margin-top: 3em;
            }
        }
    }
    #footer2{
        width: 20vw;
        height: 50vh;
        background: yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span{
            display: flex;
            flex-direction: row;
            margin-left: 1.5vw;

            img{
                width: 1em;
                height: 1em;
            }
            img:hover{
                transform: scale(1.1);
            }
        }

        div{
            margin-top: 3em;
            margin-left: 1.5em;
            p{
                text-decoration: underline;
                color: rgba(23, 43, 68, 0.7);
                font-family: 'Josefin Sans', Raleway;
                font-size: 1em;
                margin-top: .5em;
                
            }
        }
    }
    #footer3{
        width: 50vw;
        height: 50vh;
        background: rgb(77, 76, 76);
        display: flex;
        flex-direction: column;
        justify-content: center;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5em;
            

            #lastFooterTextB{
                color: white;
                font-weight: 900;
                font-size: 1.8em;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                line-height: 1.1em;
                width: 25vw;
            }
            span{
                display: flex;
                flex-direction: row;
                margin-top: 3em;
                display: none;

                a{
                    p{
                        color: white;
                        text-decoration: none;
                        padding: .7em 1.5em .7em 1.5em;
                        border: 1px solid white;
                        font-size: 1em;
                        font-family: 'Josefin Sans', Raleway;
                        border-radius: 5px;
                    }
                    p:hover{
                        color: yellow;
                        border: 1px solid yellow;
                    }
                }
            }
        }
    }
}