#logo-icon {
  width: 7vw;
  height: 2em;
  display: inline-block;
  margin: 1em 0 0 3vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100vw;
  height: 5em;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  transition: ease-in-out;
  transition-duration: 5s;
}
.navbar div {
  display: flex;
  flex-direction: row;
}
.navbar div #parentUL {
  list-style-type: none;
  width: 100vw;
  margin-top: 1.5em;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: row;
}
.navbar div #parentUL .nav-list {
  display: inline;
  margin-left: 1vw;
  font-family: "Josefin Sans";
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  height: 1em;
}
.navbar div #parentUL .nav-list .dropUL {
  margin-top: 2em;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: fixed;
  border-radius: 5px;
}
.navbar div #parentUL .nav-list .dropUL .drop {
  padding: 0.5em;
  cursor: pointer;
}
.navbar div #parentUL .nav-list .dropUL .drop:hover {
  color: #50d3d3;
  border-bottom: 1px solid #50d3d3;
}
.navbar div #parentUL .nav-list #dropUL1, .navbar div #parentUL .nav-list #dropUL2 {
  display: none;
}
.navbar div #parentUL .nav-list:hover {
  border-top: 2px solid #50d3d3;
}
.navbar div #parentUL #costCalc {
  background: #141414;
}
.navbar div #parentUL #signInBtn {
  background: #50d3d3;
  float: right;
}
.navbar div #parentUL #signInBtn:hover {
  background: rgba(80, 211, 211, 0.7);
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

#heroSub {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  top: 4.5vh;
  background-color: #fafafa;
}

#left-hero {
  width: fit-content;
  position: relative;
  top: 20vh;
  left: 4vw;
}
#left-hero #heroCap {
  color: rgba(0, 0, 0, 0.75);
  font-size: 5.5em;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 0.9em;
}
#left-hero #heroText {
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  color: #243850;
  font-weight: 900;
  position: relative;
  top: 2em;
  line-height: 1.5em;
}
#left-hero .span {
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  color: white;
  font-weight: 900;
  position: relative;
  background-color: #23D3D3;
  padding: 1.2em 2em 1.2em 2em;
  border-radius: 30px;
  width: 6em;
  cursor: pointer;
  top: 4em;
}
#left-hero .span:hover {
  background-color: #62e6e6;
}

#right-hero img {
  width: 22em;
  height: 22em;
  position: relative;
  top: 17vh;
  left: 1.5em;
}
#right-hero #extraHeroText {
  font-family: Raleway, "Open Sans", Arial;
  color: rgba(36, 56, 80, 0.5);
  font-weight: 900;
  position: relative;
  font-size: 1.15em;
  top: 27vh;
  margin-left: 1em;
  width: 25vw;
  line-height: 1.3em;
}

#more {
  display: block;
  margin: auto;
  padding: 0.25em;
  border-radius: 50px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  bottom: 5em;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-iteration-count: 5;
}

#serviceCardsect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 100vw;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
#serviceCardsect div {
  height: 45vh;
  width: 18.6vw;
  margin: 0 0.55vw 0 0.55vw;
  background-size: contain;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
#serviceCardsect div:hover {
  background-size: cover;
  transition: all 2s ease-in-out;
}
#serviceCardsect p {
  color: rgba(24, 24, 24, 0.9);
  font-size: 1.3em;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 0.9em;
  position: relative;
  top: 11em;
  margin-left: 0.5em;
}

#firstCard {
  background: linear-gradient(90deg, rgba(101, 149, 212, 0.5) 0%, rgba(101, 149, 212, 0.5) 50%), url("../images/frame__3__teaser.png");
}

#secondCard {
  background-image: linear-gradient(90deg, rgba(205, 207, 67, 0.5) 0%, rgba(205, 207, 67, 0.5) 50%), url("../images/presentationartboard_1_teaser.jpg");
}

#thirdCard {
  background-image: linear-gradient(90deg, rgba(50, 194, 81, 0.5) 0%, rgba(50, 194, 81, 0.5) 50%), url("../images/ice_teaser (1).png");
}

#fourthCard {
  background-image: linear-gradient(90deg, rgba(196, 72, 140, 0.5) 0%, rgba(196, 72, 140, 0.5) 50%), url("../images/ds_shot_teaser.png");
}

#fifthCard {
  background-image: linear-gradient(90deg, rgba(122, 59, 194, 0.5) 0%, rgba(122, 59, 194, 0.5) 50%), url("../images/uicn_part2_teaser.jpg");
}

#whatUdoes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#whatUdoes #wUd-Caption {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22vh;
  margin-bottom: 10vh;
}
#whatUdoes #wUd-Caption p {
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  font-weight: 900;
  color: #1C2C40;
}
#whatUdoes #wUd-Caption h {
  font-size: 2.5em;
  font-family: "Josefin Sans", Raleway, "Open Sans", Arial;
  font-weight: 900;
  color: #1C2C40;
  text-align: center;
  margin-top: 0.8em;
}

#case-desc {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  margin-top: 2em;
}
#case-desc #cd-left {
  width: 45vw;
}
#case-desc #cd-left .cd-desc-box {
  margin-bottom: 20vh;
}
#case-desc #cd-left .cd-desc-box div {
  margin-left: 17vw;
  width: 25vw;
}
#case-desc #cd-left .cd-desc-box div .fChild {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#case-desc #cd-left .cd-desc-box div .fChild #Univ {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-family: "Josefin Sans";
  background: #23D3D3;
  border-radius: 5px;
}
#case-desc #cd-left .cd-desc-box div .fChild #BHeader {
  color: #1C2C40;
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 1vw;
  font-family: "Josefin Sans";
  margin-bottom: -0.3vh;
}
#case-desc #cd-left .cd-desc-box div .sChild {
  color: rgba(31, 57, 88, 0.8);
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Josefin Sans";
  line-height: 1.4em;
  margin: 4.5vh 0 0 0;
}
#case-desc #cd-left .cd-desc-box div .tChild {
  margin: 4.5vh 0 0 0;
  color: #1f3958;
  font-size: 1.1em;
  font-weight: 900;
  font-family: "Josefin Sans";
  margin: 1.5em 0 0 0;
  padding: 0.3em 0.7em 0.3em 0.7em;
  border-radius: 50px;
  border: 2px solid #1f3958;
  cursor: pointer;
  width: 5.5em;
}
#case-desc #cd-right {
  width: 55vw;
  height: 140vh;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 50%), url("../images/800x600-blue-er-1a (1).png");
  background-size: cover;
  background-origin: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#case-desc #cd-right img {
  position: relative;
  right: 8.5vw;
}

#fourthSect {
  width: 100vw;
  position: relative;
  top: 25vh;
}
#fourthSect #fSectTop {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#fourthSect #fSectTop #fSectTleft {
  width: 30em;
  height: 30em;
  background: rgba(238, 137, 184, 0.15);
  border-radius: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 7vw;
}
#fourthSect #fSectTop #fSectTleft #fSTlimg1, #fourthSect #fSectTop #fSectTleft #fSTlimg2 {
  display: flex;
  flex-direction: row;
}
#fourthSect #fSectTop #fSectTleft #fSTlimg1 {
  position: relative;
  right: 1vw;
}
#fourthSect #fSectTop #fSectTleft #fSTlimg2 {
  position: relative;
  right: 1.3vw;
}
#fourthSect #fSectTop #fSectTright {
  display: flex;
  flex-direction: column;
  width: 50vw;
  position: relative;
  left: 12vw;
}
#fourthSect #fSectTop #fSectTright div {
  width: 30vw;
}
#fourthSect #fSectTop #fSectTright div #fsectTB {
  font-family: "Josefin Sans", Raleway, "Open Sans", Arial;
  font-weight: 900;
  color: #1C2C40;
  font-size: 2.5em;
  line-height: 1.1em;
}
#fourthSect #fSectTop #fSectTright div #fsectTlight {
  font-family: Raleway, "Open Sans", Arial;
  color: rgba(36, 56, 80, 0.5);
  font-weight: 900;
  position: relative;
  font-size: 1.15em;
  line-height: 1.5em;
  margin: 4.5vh 0 0 0;
}
#fourthSect #fSectTop #fSectTright div div {
  width: 30vw;
  background: #e4e4e4;
  height: 2px;
  margin: 5vh 0 5vh 0;
  border-radius: 5px;
}
#fourthSect #fSectTop #fSectTright div #fsectTBlessLight {
  color: rgba(31, 57, 88, 0.8);
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Josefin Sans", Arial;
  line-height: 1.4em;
}
#fourthSect #fSectTop #fSectTright div .span {
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  color: white;
  font-weight: 900;
  position: relative;
  background-color: #23D3D3;
  padding: 1.2em 2em 1.2em 2em;
  border-radius: 30px;
  width: 6em;
  cursor: pointer;
  text-align: center;
  margin-top: 2vh;
}
#fourthSect #fSectTop #fSectTright div .span:hover {
  background-color: #62e6e6;
}
#fourthSect #fSectBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
#fourthSect #fSectBottom .fsectText {
  margin-left: 7vw;
}
#fourthSect #fSectBottom .fsectText div {
  width: 30vw;
}
#fourthSect #fSectBottom .fsectText div #fsectTB {
  font-family: "Josefin Sans", Raleway, "Open Sans", Arial;
  font-weight: 900;
  color: #1C2C40;
  font-size: 2.5em;
  line-height: 1.1em;
}
#fourthSect #fSectBottom .fsectText div #fsectTlight {
  font-family: Raleway, "Open Sans", Arial;
  color: rgba(36, 56, 80, 0.5);
  font-weight: 900;
  position: relative;
  font-size: 1.15em;
  line-height: 1.5em;
  margin: 4.5vh 0 0 0;
}
#fourthSect #fSectBottom .fsectText div div {
  width: 30vw;
  background: #e4e4e4;
  height: 2px;
  margin: 5vh 0 5vh 0;
  border-radius: 5px;
}
#fourthSect #fSectBottom .fsectText div #fsectTBlessLight {
  color: rgba(31, 57, 88, 0.8);
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Josefin Sans", Arial;
  line-height: 1.4em;
}
#fourthSect #fSectBottom .fsectText div .span {
  font-size: 1em;
  font-family: Raleway, "Open Sans", Arial;
  color: white;
  font-weight: 900;
  position: relative;
  background-color: #23D3D3;
  padding: 1.2em 2em 1.2em 2em;
  border-radius: 30px;
  width: 6em;
  cursor: pointer;
  text-align: center;
  margin-top: 2vh;
}
#fourthSect #fSectBottom .fsectText div .span:hover {
  background-color: #62e6e6;
}
#fourthSect #fSectBottom #fSectBright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  left: 2vw;
}
#fourthSect #fSectBottom #fSectBright #fSBrDiv2 {
  width: 35em;
  height: 35em;
  background: rgba(98, 230, 230, 0.15);
  border-radius: 25em;
}
#fourthSect #fSectBottom #fSectBright #fSBrDiv2 #fSBrDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 8em;
}

#pre-footer {
  background: rgba(98, 230, 230, 0.15);
  width: 100vw;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
}
#pre-footer #FAQbold {
  color: #172b44;
  font-family: "Josefin Sans";
  font-size: 2em;
  font-weight: 900;
  width: 20vw;
  margin-top: 3em;
  margin-bottom: 2em;
}
#pre-footer div div span {
  display: flex;
  flex-direction: row;
}
#pre-footer div div span p {
  font-family: "Josefin Sans";
  font-size: 1.25em;
  color: #99989e;
  padding-bottom: 1em;
  padding-left: 2em;
  cursor: pointer;
  width: 30vw;
  font-weight: 800;
  border-bottom: 1px solid rgba(141, 137, 137, 0.3);
}
#pre-footer div div span #FAQ1 {
  color: #50d3d3;
  border-bottom: 1px solid #50d3d3;
}
#pre-footer div div span #FAQ2:hover, #pre-footer div div span #FAQ2:active, #pre-footer div div span #FAQ3:hover, #pre-footer div div span #FAQ3:active {
  color: #50d3d3;
  border-bottom: 1px solid #50d3d3;
}
#pre-footer div #FAQtexts1, #pre-footer div #FAQtexts2, #pre-footer div #FAQtexts3 {
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#pre-footer div #FAQtexts1 span, #pre-footer div #FAQtexts2 span, #pre-footer div #FAQtexts3 span {
  width: 22vw;
}
#pre-footer div #FAQtexts1 span .fTB, #pre-footer div #FAQtexts2 span .fTB, #pre-footer div #FAQtexts3 span .fTB {
  color: #172b44;
  font-family: "Josefin Sans";
  font-size: 1.35em;
  font-weight: 900;
  margin-top: 9vh;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}
#pre-footer div #FAQtexts1 span .fTL, #pre-footer div #FAQtexts2 span .fTL, #pre-footer div #FAQtexts3 span .fTL {
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-size: 1.175em;
  font-weight: 500;
  line-height: 1.8em;
}
#pre-footer div #FAQtexts1 span div, #pre-footer div #FAQtexts2 span div, #pre-footer div #FAQtexts3 span div {
  width: 26vw;
  height: 1px;
  border-radius: 5px;
  background: rgba(23, 43, 68, 0.15);
  margin-top: 2em;
  margin-left: -2em;
}
#pre-footer div #FAQtexts2, #pre-footer div #FAQtexts3 {
  display: none;
}
#pre-footer div #mssgIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#pre-footer div #mssgIcons span img {
  width: 3.5em;
  height: 3.5em;
}
#pre-footer div #mssgIcons span #seeMfaq {
  color: #50d3d3;
  font-size: 1.15em;
  margin-top: 0.5em;
  font-family: "Josefin Sans", Raleway;
}
#pre-footer div #mssgIcons span #mailUS {
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-weight: 600;
  font-size: 1em;
  margin-top: 0.5em;
}
#pre-footer div #vaseLine {
  width: 75vw;
  height: 1px;
  border-radius: 5px;
  background: rgba(23, 43, 68, 0.15);
  margin-bottom: 5em;
  margin-left: 7em;
}

#footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer #footer1 {
  width: 30vw;
  height: 50vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer #footer1 span {
  display: flex;
  flex-direction: column;
}
#footer #footer1 span img {
  width: 3em;
  height: 3em;
}
#footer #footer1 span p {
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 3em;
}
#footer #footer2 {
  width: 20vw;
  height: 50vh;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #footer2 span {
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
}
#footer #footer2 span img {
  width: 1em;
  height: 1em;
}
#footer #footer2 span img:hover {
  transform: scale(1.1);
}
#footer #footer2 div {
  margin-top: 3em;
  margin-left: 1.5em;
}
#footer #footer2 div p {
  text-decoration: underline;
  color: rgba(23, 43, 68, 0.7);
  font-family: "Josefin Sans", Raleway;
  font-size: 1em;
  margin-top: 0.5em;
}
#footer #footer3 {
  width: 50vw;
  height: 50vh;
  background: #4d4c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #footer3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
}
#footer #footer3 div #lastFooterTextB {
  color: white;
  font-weight: 900;
  font-size: 1.8em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.1em;
  width: 25vw;
}
#footer #footer3 div span {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  display: none;
}
#footer #footer3 div span a p {
  color: white;
  text-decoration: none;
  padding: 0.7em 1.5em 0.7em 1.5em;
  border: 1px solid white;
  font-size: 1em;
  font-family: "Josefin Sans", Raleway;
  border-radius: 5px;
}
#footer #footer3 div span a p:hover {
  color: yellow;
  border: 1px solid yellow;
}

/*# sourceMappingURL=index.css.map */
