@font-face {
	font-family: "iconfont";
	src: url('/assets/icons/iconfont.eot');
	src: url('/assets/icons/iconfont.eot?#iefix') format('eot'),
		url('/assets/icons/iconfont.woff2') format('woff2'),
		url('/assets/icons/iconfont.woff') format('woff'),
		url('/assets/icons/iconfont.ttf') format('truetype'),
		url('/assets/icons/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-app-store:before {
	content: "\E001";
}

.icon-arrow-down:before {
	content: "\E002";
}

.icon-arrow-left:before {
	content: "\E003";
}

.icon-arrow-right:before {
	content: "\E004";
}

.icon-arrow-up:before {
	content: "\E005";
}

.icon-blank:before {
	content: "\E006";
}

.icon-caret-down:before {
	content: "\E007";
}

.icon-checkmark-outline:before {
	content: "\E008";
}

.icon-checkmark:before {
	content: "\E009";
}

.icon-close:before {
	content: "\E00A";
}

.icon-delete:before {
	content: "\E00B";
}

.icon-dot:before {
	content: "\E00C";
}

.icon-download:before {
	content: "\E00D";
}

.icon-edit:before {
	content: "\E00E";
}

.icon-facebook:before {
	content: "\E00F";
}

.icon-file:before {
	content: "\E010";
}

.icon-help:before {
	content: "\E011";
}

.icon-lock:before {
	content: "\E012";
}

.icon-mail:before {
	content: "\E013";
}

.icon-medium:before {
	content: "\E014";
}

.icon-minus:before {
	content: "\E015";
}

.icon-more:before {
	content: "\E016";
}

.icon-play-store:before {
	content: "\E017";
}

.icon-plus:before {
	content: "\E018";
}

.icon-search:before {
	content: "\E019";
}

.icon-send:before {
	content: "\E01A";
}

.icon-settings:before {
	content: "\E01B";
}

.icon-star:before {
	content: "\E01C";
}

.icon-twitter:before {
	content: "\E01D";
}
